@spms:registry=https://nexus.spms.min-saude.pt/repository/npm-spms/
//nexus.spms.min-saude.pt/repository/npm-spms:_auth="YW5kZXJzb24ubWVsby5leHQ6I0FNMTIzNDU="
cafile=./nexus.spms.min-saude.pt.crt
strict-ssl=false
