<h2>Vertical</h2>

<div class="vertical-container">
  <p>{{textoExemplo}}</p>
  <spms-divider orientation="vertical" />
  <p>{{textoExemplo}}</p>
</div>

<h2>Horizontal</h2>

<div class="horizontal-container">
  <p>{{textoExemploXL}}</p>

  <spms-divider orientation="horizontal" />

  <p>{{textoExemploXL}}</p>
</div>

<h2>Types</h2>

<div class="horizontal-container">
  <p>{{textoExemplo}}</p>

  <spms-divider orientation="horizontal" type="solid" />

  <p>{{textoExemplo}}</p>

  <spms-divider orientation="horizontal" type="dotted" />

  <p>{{textoExemplo}}</p>

  <spms-divider orientation="horizontal" type="dashed" />

  <p>{{textoExemplo}}</p>
</div>

<h2>Children - horizontal</h2>

<div class="horizontal">
  <p>{{textoExemploXL}}</p>

  <spms-divider orientation="horizontal" align="start"><i> Alinhado à esquerda </i></spms-divider>

  <p>{{textoExemploXL}}</p>

  <spms-divider orientation="horizontal" align="center"><i> Centralizado </i></spms-divider>

  <p>{{textoExemploXL}}</p>

  <spms-divider orientation="horizontal" align="right"><i> Alinhado à direita </i></spms-divider>

  <p>{{textoExemploXL}}</p>
</div>

<h2>Children - vertical</h2>

<div class="vertical-container">
  <p>{{textoExemploXL}}</p>

  <spms-divider orientation="vertical" align="start"><i> Alinhamento ao topo </i></spms-divider>

  <p>{{textoExemploXL}}</p>

  <spms-divider orientation="vertical"><i> Centralizado </i></spms-divider>

  <p>{{textoExemploXL}}</p>

  <spms-divider orientation="vertical" align="end"><i> Alinhamento à base </i></spms-divider>

  <p>{{textoExemploXL}}</p>
</div>
