* {
  font-family: 'Lato', sans-serif;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 40px 0;
}

.vertical-container {
  display: flex;

  text-align: center;
}

.horizontal-container {
  text-align: center;
}

.horizontal {
  text-align: center;
}
