<div class="container">
  <spms-template>
    <template-menu>
      <spms-menu
        [options]="menuOptions"
        [items]="menuItems"
      />
    </template-menu>

    <template-header>
      <spms-header
        variant="simple"
        username="Anderson Melo"
        profilePicture="https://i.imgur.com/Eve2bjh.jpg"
        primaryActionIcon="search"
        secondaryActionIcon="definitions"
        [notification]="5"
        [options]="{
          title: 'Meus alertas',
          notifications: [
            {
              label: 'Notificações',
              content: [
                { date: 'Há 1 hora', title: 'Notificação 1', icon: 'document' },
                { date: 'Há 1 hora', title: 'Notificação 2', icon: 'new-request' },
              ]
            },
            {
              label: 'Alertas',
              content: [
                { date: 'Há 1 hora', title: 'Alerta 1', icon: 'alert' },
                { date: 'Há 1 hora', title: 'Alerta 2', icon: 'information' },
              ]
            },
          ],
          paths: {
            openAllNotifications: '/notifications',
            personalData: '/personal-data',
            webAccessibility: '/acessibility'
          }
        }"
        (configClick)="handleConfig()"
        (logoutClick)="handleLogout()"
      />
    </template-header>

    <template-content>
      <div style="display: flex; flex-direction: column; padding: 20px; width: 100%;">
        <router-outlet></router-outlet>
        <!-- <app-home /> -->
      </div>
    </template-content>

    <template-footer>
      <spms-footer
        footerText="Powered by SPMS"
        [spmsLogo]="false"
        copyrightText="Todos os direitos reservados ao Governo da República Portuguesa - Ministério da Saúde"
        [logos]="[
          {
            icon: 'spms',
            color: 'primary',
            size: '80px'
          },
          {
            icon: 'sns',
            color: 'primary',
            size: '60px'
          },
          {
            icon: 'republica-portuguesa-colors',
            color: 'primary',
            size: '60px'
          },
        ]"
      />
    </template-footer>
  </spms-template>
</div>
