<spms-button size="small" variant="contained" icon="users" />
<spms-button size="small" variant="contained" icon="pi-check" />

<h2>Botões primários - contained</h2>

<div class="grid-container">
  <spms-button label="Active small" size="small" variant="contained" (click)="handleClick()" />
  <spms-button label="Inactive small" size="small" variant="contained" [disabled]="true" (click)="handleClick()" />
  <spms-button label="Active icon small" size="small" variant="contained" icon="users" />
  <spms-button label="Inactive icon small" size="small" variant="contained" icon="reload" [disabled]="true" />

  <spms-button label="Active medium" size="medium" variant="contained" />
  <spms-button label="Inactive medium" size="medium" variant="contained" [disabled]="true" />
  <spms-button label="Active icon medium" size="medium" variant="contained" icon="users" />
  <spms-button label="Inactive icon medium" size="medium" variant="contained" icon="reload" [disabled]="true" />

  <spms-button label="Active large" size="large" variant="contained" />
  <spms-button label="Inactive large" size="large" variant="contained" [disabled]="true" />
  <spms-button label="Active icon large" size="large" variant="contained" icon="users" />
  <spms-button label="Inactive icon large" size="large" variant="contained" icon="reload" [disabled]="true" />
</div>

<h2>Botões secundários - outlined</h2>

<div class="grid-container">
  <spms-button label="Active small" size="small" variant="outlined" />
  <spms-button label="Inactive small" size="small" variant="outlined" [disabled]="true" />
  <spms-button label="Active icon small" size="small" variant="outlined" icon="users" />
  <spms-button label="Inactive icon small" size="small" variant="outlined" icon="reload" [disabled]="true" />

  <spms-button label="Active medium" size="medium" variant="outlined" />
  <spms-button label="Inactive medium" size="medium" variant="outlined" [disabled]="true" />
  <spms-button label="Active icon medium" size="medium" variant="outlined" icon="users" />
  <spms-button label="Inactive icon medium" size="medium" variant="outlined" icon="reload" [disabled]="true" />

  <spms-button label="Active large" size="large" variant="outlined" />
  <spms-button label="Inactive large" size="large" variant="outlined" [disabled]="true" />
  <spms-button label="Active icon large" size="large" variant="outlined" icon="users" />
  <spms-button label="Inactive icon large" size="large" variant="outlined" icon="reload" [disabled]="true" />
</div>
