<div style="margin: 40px;"></div>

<spms-button text="Teste" size="small" startIcon="users" />
<spms-button size="small" variant="primary" endIcon="reload" />

<h2>Botões primários - contained</h2>

<div class="grid-container">
  <spms-button text="Active small" size="small" variant="primary" (onClick)="handleClick($event)" />
  <spms-button text="Inactive small" size="small" variant="primary" [disabled]="true" (onClick)="handleClick($event)" />
  <spms-button text="Active icon small" size="small" variant="primary" startIcon="users" />
  <spms-button text="Inactive icon small" size="small" variant="primary" endIcon="reload" [disabled]="true" />

  <spms-button text="Active large" size="large" variant="primary" />
  <spms-button text="Inactive large" size="large" variant="primary" [disabled]="true" />
  <spms-button text="Active icon large" size="large" variant="primary" startIcon="users" />
  <spms-button text="Inactive icon large" size="large" variant="primary" endIcon="reload" [disabled]="true" />
</div>

<h2>Botões secundários - outlined</h2>

<div class="grid-container">
  <spms-button text="Active small" size="small" variant="secondary" />
  <spms-button text="Inactive small" size="small" variant="secondary" [disabled]="true" />
  <spms-button text="Active icon small" size="small" variant="secondary" startIcon="users" />
  <spms-button text="Inactive icon small" size="small" variant="secondary" endIcon="reload" [disabled]="true" />

  <spms-button text="Active large" size="large" variant="secondary" />
  <spms-button text="Inactive large" size="large" variant="secondary" [disabled]="true" />
  <spms-button text="Active icon large" size="large" variant="secondary" startIcon="users" />
  <spms-button text="Inactive icon large" size="large" variant="secondary" endIcon="reload" [disabled]="true" />
</div>

<h2>Botões de texto</h2>

<div class="grid-container">
  <spms-button text="Active small" size="small" variant="text" />
  <spms-button text="Inactive small" size="small" variant="text" [disabled]="true" />
  <spms-button text="Active icon small" size="small" variant="text" startIcon="users" />
  <spms-button text="Inactive icon small" size="small" variant="text" endIcon="reload" [disabled]="true" />

  <spms-button text="Active large" size="large" variant="text" />
  <spms-button text="Inactive large" size="large" variant="text" [disabled]="true" />
  <spms-button text="Active icon large" size="large" variant="text" startIcon="users" />
  <spms-button text="Inactive icon large" size="large" variant="text" endIcon="reload" [disabled]="true" />
</div>
